{
	"singleQuote": true,
	"trailingComma": "all",
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"bracketSpacing": true,
	"printWidth": 80,
	"endOfLine": "auto",
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderCaseInsensitive": true,
	"importOrderParserPlugins": [
		"classProperties",
		"decorators-legacy",
		"typescript"
	],
	"importOrder": ["<THIRD_PARTY_MODULES>", "^@/(.*)", "^../(.*)", "^./(.*)"],
	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}
